body {
    background-color: #aee1f4;
    font-family: Arial, sans-serif;
    width: 10%;
    margin: 0;
    padding: 0;
}
.city {
    display: flex;       /* Aligns children (input and button) inline */
    align-items: center; /* Centers items vertically */
    gap: 5px;           /* Adds space between the input and the button */
}

/* Optional: Style the input and button for better appearance */
input[type="text"] {
    flex-grow: 1; /* Allows the input to take up available space */
    padding: 2px;
    border: 2px solid #ccc;
    border-radius: 2px;
}

button {
    width: 150px;
    padding: 2px 2px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: xx-small;
}

button:hover {
    background-color: #0056b3;
}

.container {
    text-align: center;
    width: 100%;
    padding: 10px;
}

h1 {
    margin-top: 0px;
    width: 600px;
    margin-bottom: 0px;
    font-size: 12px;
}

.weather-widget {
    background-color: #192134;
    border-radius: 10px;
    width: 640px;
    height: 100px;
    height: auto; /* Adjusted height to auto */
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: nowrap; /* Ensure no wrapping */
    text-align: left;
}

.day {
    width: 90px;
    height: 30px;
    text-align: center;
    border-right: 1px solid #fff; /* Add this line */
    padding-right: 10px; /* Optional: add some padding for better spacing */
    margin-top: 5px; /* Adjust margin to lower the days */
    margin-bottom: -20px;
}

.weather-widget .day:last-child {
    border-right: none; /* Remove border for the last item */
}

.icon-date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -10px; /* Adjust margin to align properly */
    margin-left: -20px;
}

.icon {
    width: 2%;
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    margin-top: -10px; /* Adjust margin to align properly */
    margin-left: -10px;
}

.day p {
    margin: 2px 0;
    font-size: 8px;
    color: azure;
}

.title {
    font-weight: bold;
}

.data {
    font-weight: normal;
}
