body {
    background-color: #aee1f4;
    font-family: Arial, sans-serif;
    width: 40px;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 100%;
    padding: 10px;
}

h1 {
    margin-top: 0px;
    width: 600px;
    margin-bottom: 0px;
    font-size: 12px;
}

.weather-widget {
    background-color: #192134;
    border-radius: 10px;
    width: 640px;
    height: auto; /* Adjusted height to auto */
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: nowrap; /* Ensure no wrapping */
    text-align: left;
}

.day {
    width: 90px;
    height: 30px;
    text-align: center;
    border-right: 1px solid #fff; /* Add this line */
    padding-right: 10px; /* Optional: add some padding for better spacing */
    margin-top: 5px; /* Adjust margin to lower the days */
}

.weather-widget .day:last-child {
    border-right: none; /* Remove border for the last item */
}

.icon-date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -10px; /* Adjust margin to align properly */
    margin-left: -20px;
}

.icon {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    margin-top: -10px; /* Adjust margin to align properly */
    margin-left: 5px;
}

.day p {
    margin: 2px 0;
    font-size: 8px;
    color: azure;
}

.title {
    font-weight: bold;
}

.data {
    font-weight: normal;
}
